---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero";
import World from "../components/World";
import Factions from "../components/Factions";
import System from "../components/System";
import Join from "../components/Join.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<BaseLayout>
  <main>
    <Hero client:load />
    <World client:visible />
    <Factions client:visible />
    <System client:visible />
    <Join />
  </main>
  <Footer />
</BaseLayout>
